<h1>IOTA Donation Manager</h1>
<p class="lead">This is a manager, which helps you to distribute donations. <br> You can test it here to donate to the einfachIOTA team! ;)</p>
<%= link_to "Become a sponsor", new_donation_url, class: "btn btn-primary" %>
<h2>List of Donators</h2>
<div class="card-deck">
  <% @donations.each do |donation| %>

  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image">
    <div class="card-body">
      <h4 class="card-title"><%= donation.name %></h4>
      <p class="card-text"><%= donation.message %></p>
      <a href="#" class="btn btn-primary">See Profile</a>
      <a href="https://devnet.thetangle.org/bundle/<%= donation.bundleHash %>" target="_blank">TheTangle.org</a>
      <%= link_to "More information", donation_path(donation) %>
    </div>
  </div>
  <% end %>
</div>
