<%= form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Your name:" %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Donator3000' %>
  </div>

  <div class="form-group">
    <%= form.label :message, "Donation Message:" %>
    <%= form.text_field :message, class: 'form-control', placeholder: 'I like this project!' %>
  </div>

  <div class="form-group">
    <%= form.label :link, "Link to your website:" %>
    <%= form.text_field :link, class: 'form-control', placeholder: 'https://www.einfachiota.de' %>
  </div>

  <div class="form-group">
    <% if donation.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', donation, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <p>TODO: Im not a robot</p>

    <%= form.submit class: 'btn btn-primary' %>

    <% if donation.persisted? %>
      <%= link_to "Cancel", donation, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Close", "#", class: "btn btn-link", onClick: "ClosePopup()" %>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  function ClosePopup() {
    var win = window.close();
  }
</script>
