


<div class="row">
  <div class="col-sm-6">
    <h1>Donations</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_donation_path, class: 'btn btn-primary' do %>
    Add New Donation
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Id</th>
            <th>Name</th>
            <th>Status</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @donations.each do |donation| %>
        <%= content_tag :tr, id: dom_id(donation), class: dom_class(donation) do %>


                      <td><%= donation.id %></td>
                      <td><%= donation.name %></td>
                      <td><%= donation.status %></td>


            <td><%= link_to 'Show', donation %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
