<h1>Become a donator!</h1>
<p>You can fill in this data, to show some informations about you on the dontion list.</p>
<p>Leave it all blank, to donate anonyous.</p>

<%= render 'form', donation: @donation %>
