<div class="page-header">
  <%= link_to donations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Donations
  <% end %>
  <h1>Show donation</h1>
</div>
<p>Status:<%= @donation.status %></p>
<% if @donation.waiting? %>

  <%= link_to "Sync Donation", donation_sync_path(@donation), class: "btn btn-primary"  %>

  <dl class="dl-horizontal">

    <dt>Name:</dt>
    <dd><%= @donation.name %></dd>

    <dt>Message:</dt>
    <dd><%= @donation.message %></dd>

    <dt>Link:</dt>
    <dd><%= @donation.link %></dd>

    <dt>Address:</dt>
    <dd><%= @donation.address %></dd>


  </dl>




  <%= react_component("DonationHelper", { address: @donation.address }) %>

<% elsif @donation.payout_in_progress? %>
  <p>Payout processing...</p>
<% elsif @donation.payout_proccessed? %>
  <p>Payout done</p>
  <a href="https://devnet.thetangle.org/bundle/<%= @donation.bundleHash %>" target="_blank"></a>
<% end %>


<h5>Donation will be distributed to the following participants:</h5>
<div class="alert alert-warning" role="alert">
  The donation will be distributed if the donation transaction is confirmed.
  So the data below is just a example and the real distribution could be a bit different.
</div>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Points</th>
    <th>Shares</th>
  </thead>
  <tbody>
    <% @donation.distributon_data["entries"].each do |entry| %>
    <tr>
      <td><%= entry["name"] %></td>
      <td><%= entry["points"] %></td>
      <td><%= "~#{(entry["share"] * 100).round(2)}%" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</ul>
